<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>1.1.1, Copyright © 2000-2015 syscl/Yating Zhou. All Rights Reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>org.syscl.injector.USBXHCI</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>EHC/XHCI injector for M3800 and XPS9530</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>MacBookPro11,2-EH01</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IONameMatch</key>
			<string>EH01</string>
			<key>IOProviderClass</key>
			<string>AppleUSBEHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBSleepSupported</key>
				<true/>
				<key>port-count</key>
				<data>AQAAAA==</data>
				<key>ports</key>
				<dict>
					<key>PR01</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>AQAAAA==</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>MacBookPro11,2</string>
		</dict>
		<key>MacBookPro11,2-EH01-hub</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IOProviderClass</key>
			<string>AppleUSB20InternalHub</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>BQAAAA==</data>
				<key>ports</key>
				<dict>
					<key>PRT11</key>
					<dict>
						<key>comment</key>
						<string>USB 2 (Left-Front)</string>
						<key>port</key>
						<data>AQAAAA==</data>
					</dict>
					<key>PRT12</key>
					<dict>
						<key>comment</key>
						<string>USB 2 (Left-Rear)</string>
						<key>port</key>
						<data>AgAAAA==</data>
					</dict>
					<key>PRT13</key>
					<dict>
						<key>comment</key>
						<string>USB 2 (Right-Rear)</string>
						<key>port</key>
						<data>AwAAAA==</data>
					</dict>
					<key>PRT14</key>
					<dict>
						<key>comment</key>
						<string>USB 2 (Right-Front)</string>
						<key>port</key>
						<data>BAAAAA==</data>
					</dict>
					<key>PRT15</key>
					<dict>
						<key>comment</key>
						<string>USB 2 (Internal - Bluetooth)</string>
						<key>port</key>
						<data>BQAAAA==</data>
					</dict>
				</dict>
			</dict>
			<key>locationID</key>
			<integer>487587840</integer>
			<key>model</key>
			<string>MacBookPro11,2</string>
		</dict>
		<key>MacBookPro11,2-EH02</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IONameMatch</key>
			<string>EH02</string>
			<key>IOProviderClass</key>
			<string>AppleUSBEHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBSleepSupported</key>
				<true/>
				<key>port-count</key>
				<data>AQAAAA==</data>
				<key>ports</key>
				<dict>
					<key>PR01</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>AQAAAA==</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>MacBookPro11,2</string>
		</dict>
		<key>MacBookPro11,2-EH02-hub</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IOProviderClass</key>
			<string>AppleUSB20InternalHub</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>BQAAAA==</data>
				<key>ports</key>
				<dict>
					<key>PRT12</key>
					<dict>
						<key>comment</key>
						<string>USB 2 (Touchscreen)</string>
						<key>port</key>
						<data>AgAAAA==</data>
					</dict>
					<key>PRT15</key>
					<dict>
						<key>comment</key>
						<string>USB 2 (Webcam)</string>
						<key>port</key>
						<data>BQAAAA==</data>
					</dict>
				</dict>
			</dict>
			<key>locationID</key>
			<integer>437256192</integer>
			<key>model</key>
			<string>MacBookPro11,2</string>
		</dict>
		<key>MacBookPro11,2-XHC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IONameMatch</key>
			<string>XHC</string>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBMuxEnabled</key>
				<true/>
				<key>kUSBSleepSupported</key>
				<true/>
				<key>port-count</key>
				<data>FQAAAA==</data>
				<key>ports</key>
				<dict>
					<key>HS01</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>comment</key>
						<string>Left-Front</string>
						<key>port</key>
						<data>AQAAAA==</data>
					</dict>
					<key>HS02</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>comment</key>
						<string>Left-Rear</string>
						<key>port</key>
						<data>AgAAAA==</data>
					</dict>
					<key>HS03</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>comment</key>
						<string>Right-Rear</string>
						<key>port</key>
						<data>AwAAAA==</data>
					</dict>
					<key>HS04</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>comment</key>
						<string>Right-Front</string>
						<key>port</key>
						<data>BAAAAA==</data>
					</dict>
					<key>HS06</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>comment</key>
						<string>Touchscreen</string>
						<key>port</key>
						<data>BgAAAA==</data>
					</dict>
					<key>HS09</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>comment</key>
						<string>Bluetooth</string>
						<key>port</key>
						<data>CQAAAA==</data>
					</dict>
					<key>HS11</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>comment</key>
						<string>Webcam</string>
						<key>port</key>
						<data>CwAAAA==</data>
					</dict>
					<key>SSP1</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>comment</key>
						<string>Left-Front</string>
						<key>port</key>
						<data>EAAAAA==</data>
					</dict>
					<key>SSP2</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>comment</key>
						<string>Left-Rear</string>
						<key>port</key>
						<data>EQAAAA==</data>
					</dict>
					<key>SSP6</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>comment</key>
						<string>Right-Front</string>
						<key>port</key>
						<data>FQAAAA==</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>MacBookPro11,2</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
