<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright © 2016 vit9696. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>as.vit9696.PinConfigs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PinConfigs</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HDA Hardware Config Resource</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDAHardwareConfigDriver</string>
			<key>HDAConfigDefault</key>
			<array>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>CodecID</key>
					<integer>283903592</integer>
					<key>Comment</key>
					<string>ALC668 syscl Laptop Patch (DELL Precision M3800 and XPS15 9530)</string>
					<key>ConfigData</key>
					<data>
					ASccAQEnHQEBJx6gAScfkAFHHAIBRx0BAUce
					FwFHH5ABRwwCAVccAwFXHRABVx4rAVcfAwFX
					DAIBZxzwAWcdAAFnHgABZx9AAYcc8AGHHQAB
					hx4AAYcfQAGXHPABlx0AAZceAAGXH0ABpxzw
					AacdAAGnHgABpx9AAbccBAG3HRABtx6LAbcf
					AwHXHPAB1x0AAdceAAHXH0AB5xzwAecdAAHn
					HgAB5x9AAfcc8AH3HQAB9x4AAfcfQAIFAAEC
					BL6+AgUAAgIEqqoCBQADAgQAAAIFAAQCBAGA
					AgUABgIEAAACBQAHAgQPgAIFAAgCBAAxAgUA
					CgIEAGACBQALAgQAAAIFAAwCBHz3AgUADQIE
					EIACBQAOAgR/fwIFAA8CBMzMAgUAEAIE3cwC
					BQARAgQAAQIFABMCBAAAAgUAFAIEKqACBQAX
					AgSpQAIFABkCBAAAAgUAGgIEAAACBQAbAgQA
					AAIFABwCBAAAAgUAHQIEAAACBQAeAgR0GAIF
					AB8CBAgEAgUAIAIEQgACBQAhAgQEaAIFACIC
					BIzMAgUAIwIEAlACBQAkAgR0GAIFACcCBAAA
					AgUAKAIEjMwCBQAqAgT/AAIFACsCBIAAAgUA
					pwIE/wACBQCoAgSAAAIFAKoCBC4XAgUAqwIE
					oMACBQCsAgQAAAIFAK0CBAAAAgUArgIEKsYC
					BQCvAgSkgAIFALACBAAAAgUAsQIEAAACBQCy
					AgQAAAIFALMCBAAAAgUAtAIEAAACBQC1AgQQ
					QAIFALYCBNaXAgUAtwIEkCsCBQC4AgTWlwIF
					ALkCBJArAgUAugIEuLoCBQC7AgSqqwIFALwC
					BKqvAgUAvQIEaqoCBQC+AgQcAgIFAMACBAD/
					AgUAwQIED6Y=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOMatchCategory</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOProviderClass</key>
			<string>AppleHDAHardwareConfigDriverLoader</string>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.libkern</key>
		<string>11.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
